mixin formInput(firstName, lastName, email, password, confirmedPassword)
    label(for="firstName") First Name:
    input(type="text" id="firstName" name="firstName" value=firstName)
    label(for="lastName") Last Name:
    input(type="text" id="lastName" name="lastName" value=lastName)
    label(for="email") email:
    input(type="email" id="email" name="email" value=email)
    label(for="password") Password:
    input(type="password" id="password" name="password" value=password)
    label(for="confirmedPassword") Confirmed Password:
    input(type="password" id="confirmedPassword" name="confirmedPassword" value=confirmedPassword)
    label(for="createUser") Create User
